@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
$font-family-inter: "Inter", sans-serif;
$color-brand-primary: #54b848ff;
$color-brand-secondary: #003f2dff;
$color-brand-tertiary: #038203ff;
$color-neutral-50: #f6faf0ff;
$color-neutral-white: #ffffff;
$color-neutral-100: #f9f9f9ff;
$color-surface-bg: #f5f9f7ff;
$color-neutral-150: #d9d9d9ff;
$color-neutral-200: #ccccccff;
$color-neutral-300: #757575ff;
$color-neutral-900: #1c1c1cff;
$color-neutral-black: #000000ff;


